
<section class="container-fluid">
    <div class="row">
                <div class="col-md-12">
                  <div class="panel with-nav-tabs panel-default">
                      <div class="panel-heading">
                              <ul class="nav nav-tabs">
                                  <li><a href="#tab1default" data-toggle="tab">Proposal</a></li>
                                  <li><a href="#tab2default" data-toggle="tab">Content </a></li>
                                 
                              </ul>
                      </div>
                      <div class="clearfix"></div>
                      <div class="panel-body">
                          <div class="tab-content">
                              <div class="tab-pane active" id="tab1default">
                                    <div class="tab-pane-bdr">
                                    <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <h3>New Proposal</h3>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <ul class="custom-nav">
                                                      <li><a href="javascript:void(0)" class="custom-btn">Generate Proposal</a></li>
                                                      <li><a href="javascript:void(0)"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                      <li><a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
                                                      <li><a href="javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                                </ul>
                                          </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                                              <div class="common-bg">
                                                    <div class="row">
                                                         <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                                                                <div class="form-group">
                                                                     <label>Title</label>
                                                                     <input type="text" class="form-control" placeholder="">
                                                                </div>
                                                         </div>
                                                         <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                                                                <label>Date</label>
                                                                <input type="text" class="form-control" placeholder="">
                                                         </div>
                                                         <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                                                                <label>Author</label>
                                                                <input type="text" class="form-control" placeholder="">
                                                         </div>
                                                         <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                                                              <div class="form-group">
                                                                    <label>Cover Photo</label>
                                                                     <input type="file" class="form-control-file">
                                                               </div>
                                                         </div>
                                                    </div>
                                                    <div class="row">
                                                          <div class="col-12">
                                                                      <div class="accordion" id="accordionExample">
                                                                                  <div class="card">
                                                                                    <div class="card-header" id="headingOne">
                                                                                      <h2 class="mb-0">
                                                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                                         Category Name
                                                                                        </button>
                                                                                      </h2>
                                                                                    </div>
                                                                                
                                                                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                                                      <div class="card-body">
                                                                                            <div class="row">
                                                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                                                                              <h6>Explanatory text</h6>
                                                                                              <label>Section title </label>
                                                                                              <input type="text" class="form-control" placeholder="">
                                                                                        </div>
                                                                                  </div>
                                                                                        <div class="dotted-bg">
                                                                                              <div class="row">
                                                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-12"><input type="text" class="form-control" placeholder="Content Title"></div>
                                                                                                    <div class="col-12"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></div>
                                                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-12"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></div>
                                                                                                    <div class="col-12"><img src="../assets/images/dummy.jpg" title="#" alt="#"/></div>
                                                                                              </div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="card">
                                                                                    <div class="card-header" id="headingTwo">
                                                                                      <h2 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                                          Category Name
                                                                                        </button>
                                                                                      </h2>
                                                                                    </div>
                                                                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                                                      <div class="card-body">
                                                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="card">
                                                                                    <div class="card-header" id="headingThree">
                                                                                      <h2 class="mb-0">
                                                                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                                            Category Name
                                                                                        </button>
                                                                                      </h2>
                                                                                    </div>
                                                                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                                                      <div class="card-body">
                                                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                          </div>
                                                    </div>
                                              </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                              <div class="common-bg">
                                                  <div class="title-text">
                                                        <h4>Tools</h4>
                                                        <ul class="icon-nav">
                                                              <li><a href="javascript:void(0)"><img src="../assets/images/01.png" title="#" alt="#"/></a></li>
                                                              <li><a href="javascript:void(0)"><img src="../assets/images/02.png" title="#" alt="#"/></a></li>
                                                              <li><a href="javascript:void(0)"><img src="../assets/images/03.png" title="#" alt="#"/></a></li>
                                                              <li><a href="javascript:void(0)"><img src="../assets/images/04.png" title="#" alt="#"/></a></li>
                                                        </ul>
                                                  </div>  

                                                  <div class="title-text">
                                                          <h4>Content</h4>
                                                                    <div class="white-search">
                                                                          <div class="row">
                                                                              <div class="col-lg-10 col-md-10 col-sm-10 col-12">
                                                                                  <input type="text" class="form-control" name="search" id="search" placeholder="Search">
                                                                              </div>
                                                                              <div class="col-lg-2 col-md-2 col-sm-2 col-12 text-center">
                                                                                    <a href="javascript:void(0)"><i class="fa fa-search mar-top"></i></a>
                                                                              </div>
                                                                          </div>
                                                                    </div>
                                                           <div class="content-box">
                                                                 <div class="row">
                                                                       <div class="info"><i class="fa fa-info" aria-hidden="true"></i></div>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                                                                      <h5>Content title</h5>
                                                                      <p>Text excerpt. Lorem ipsum dolorsit amet,
                                                                                  consetetursadipscing elitr, sed diam nonumy
                                                                                  eirmod tempor invidunt ut labore et dolore
                                                                                  magna aliquyam erat, sed diam voluptua at.</p>
                                                                </div>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                                                                      <span class="tilte-text">Content category</span>
                                                                      <img src="../assets/images/dummy-01.png" title="#" alt="#" class="img-fluid"/>
                                                                </div>
                                                          </div>
                                                           </div>

                                                           <div class="content-box">
                                                                      <div class="row">
                                                                     <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                                                                           <h5>Content title</h5>
                                                                           <p>Text excerpt. Lorem ipsum dolorsit amet,
                                                                                       consetetursadipscing elitr, sed diam nonumy
                                                                                       eirmod tempor invidunt ut labore et dolore
                                                                                       magna aliquyam erat, sed diam voluptua at.</p>
                                                                     </div>
                                                                     <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                                                                           <span class="tilte-text">Content category</span>
                                                                           <img src="../assets/images/dummy-01.png" title="#" alt="#" class="img-fluid"/>
                                                                     </div>
                                                               </div>
                                                                </div>
                                                                <div class="content-box">
                                                                            <div class="row">
                                                                           <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                                                                                 <h5>Content title</h5>
                                                                                 <p>Text excerpt. Lorem ipsum dolorsit amet,
                                                                                             consetetursadipscing elitr, sed diam nonumy
                                                                                             eirmod tempor invidunt ut labore et dolore
                                                                                             magna aliquyam erat, sed diam voluptua at.</p>
                                                                           </div>
                                                                           <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                                                                                 <span class="tilte-text">Content category</span>
                                                                                 <img src="../assets/images/dummy-01.png" title="#" alt="#" class="img-fluid"/>
                                                                           </div>
                                                                     </div>
                                                                      </div>
                                                                      <div class="content-box">
                                                                                  <div class="row">
                                                                                 <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                                                                                       <h5>Content title</h5>
                                                                                       <p>Text excerpt. Lorem ipsum dolorsit amet,
                                                                                                   consetetursadipscing elitr, sed diam nonumy
                                                                                                   eirmod tempor invidunt ut labore et dolore
                                                                                                   magna aliquyam erat, sed diam voluptua at.</p>
                                                                                 </div>
                                                                                 <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                                                                                       <span class="tilte-text">Content category</span>
                                                                                       <img src="../assets/images/dummy-01.png" title="#" alt="#" class="img-fluid"/>
                                                                                 </div>
                                                                           </div>
                                                                            </div>
                                                    </div> 
                                              </div>
                                        </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="tab2default">Place your content here</div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
</section> 
<router-outlet></router-outlet>